body {
    background: black;
    height: 300vh;
    overflow-x: hidden;
}

.scroll-area {
    position: relative;
    width: 100%;
    height: 200vh;
}

.panel-img {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 300px;
    opacity: 0;

    transform: translateY(80px) scale(1.85);
    transition:
        opacity 0.5s ease-out,
        transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.panel-img img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(255, 50, 50, 0.3);
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin-top: 100vh;
}

.header{
    font-size: 100px;
    background: linear-gradient(90deg, #b68d4c, #e8c289, #b99748);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.textbox{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    animation: glow2 3s ease-in-out infinite alternate;
}

.go{
    width: 100px;
    height: 50px;
    background: linear-gradient(90deg, #b68d4c, #e8c289, #b99748);
    color: black;
    font-size: 1rem;
    margin-left: 30px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    color: white;
    letter-spacing: 4px;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}

.hero-title {
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: 900;
    color: transparent;
    background: linear-gradient(90deg, #815f17, #d4af37, #9a8843);
    background-clip: text;
    -webkit-background-clip: text;
    animation: glow 3s ease-in-out infinite alternate;
}

.hero-subtitle {
    margin-top: 20px;
    font-size: 1.4rem;
    opacity: 0.7;
    background: linear-gradient(90deg, #dc9b18, #c7a008, #ffe57e, #c7a008, #c48c1c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;

    background-image: radial-gradient(circle, rgb(255, 255, 255) 2px, transparent 15px);
    background-size: 150px 150px;

    animation: moveParticles 5s linear 1 forwards;
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 5px rgba(11, 12, 0, 0.942));
    }

    to {
        filter: drop-shadow(0 0 10px rgba(130, 142, 4, 0.7));
    }
}

@keyframes glow2 {
    from {
        filter: drop-shadow(0 0 5px rgba(157, 172, 0, 0.942));
    }

    to {
        filter: drop-shadow(0 0 10px rgba(247, 255, 163, 0.7));
    }
}

@keyframes moveParticles {
    0% {
        transform: translateY(0);
        opacity: 0.3;
    }

    70% {
        opacity: 0.2;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}