body{
    background-color: pink;
}

.header{
    font-size: 100px;
}

.wholebody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputarea{
    justify-content: space-between;
}

.textbox{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border-color: plum;
}

.go{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 12px;
    margin-left: 30px;
}